.page-error {
  font-size: 1em;
  border: var(--controlBorder);
  border-color: var(--error);
  margin-top: 2em;
  display: flex;
  align-items: center;

  span {
    padding: 1em;
    line-height: 1rem;
  }

  .icon {
    height: 100%;
    padding: 1em 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }
}
