.textarea-wrapper {
  position: relative;

  textarea {
    min-height: 118px;
    resize: none;

    &.long {
      min-height: 165px;
    }

    &.resizable {
      resize: both;
    }
    &.resizable-h {
      resize: horizontal;
    }
    &.resizable-v {
      resize: vertical;
    }
  }

  .characterLimit-label {
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #4a4a4a;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .textarea-formatting-controls {
    .icon {
      padding: 0 0.5em;
    }

    .spacer {
      display: inline-block;
      width: 2rem;
    }

    .task-list-item {
      list-style: none;
      display: flex;

      .radioOrCheckbox {
        flex: 0;
        margin-right: 0;
      }
    }
  }
}

@media print {
  .textarea-wrapper {
    textarea {
      height: 118px !important;

      &.long {
        height: auto !important;
      }
    }

    .characterLimit-label {
      display: none;
    }
  }
}
