.error-message {
  font-size: 0.9em;
  color: var(--error);
  margin-top: 0.5rem;
  position: relative;

  .icon {
    color: white;
    background: var(--error);
    width: 1.7em;
    height: 1.7em;
    margin-right: 0.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
