@import '../../../assets/mixins.scss';

.dropdown-wrapper {
  position: relative;

  .input {
    display: flex;
    font-size: 1em;
    font-size: 1em;
    flex-wrap: wrap;
    height: auto;
    min-height: var(--controlHeight);
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;

    .dropdown-input {
      margin-right: 25px;
      flex: 1;
      border: none !important;
      background: none !important;
      padding-left: 0 !important;

      &.withClearButton {
        padding-right: 42px;
      }
    }

    .option-tag {
      font-size: var(--controlTextSize);
      padding: 0em 1em;
      background: var(--active);
      border-radius: 2em;
      flex: 0;
      flex-basis: auto;
      margin: var(--controlPadding);
      margin-left: 0.2em;
      margin-right: 0.2em;

      .option-tag-remove {
        color: var(--controlText);
        margin-left: 0.25em;
        font-size: 1.3em;
        display: inline-block;
        vertical-align: middle;
        cursor: default;
        transition: color 0.3s;

        &:hover {
          color: var(--controlBg);
        }
      }

      &:last-child {
        margin: var(--controlPadding);
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
      }
    }
  }

  &.active {
    .input {
      border-color: var(--active);
    }

    & > .dropdown-arrow {
      transform: none;
      top: calc(50% - 6px);
    }
  }

  & > .dropdown-clear {
    position: absolute;
    color: var(--controlText);
    right: 23px;
    font-weight: 500;
    font-size: 1.7em;
    cursor: default;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.3s;

    &:hover {
      color: var(--active);
    }
  }

  & > .dropdown-arrow {
    @include triangle(var(--controlText), 12px);
    transform: rotate(180deg);
    position: absolute;
    top: calc(50% - 5px);
    right: 8px;
    pointer-events: none;

    &.disabled {
      opacity: 0.5;
    }
  }

  .options-container {
    border: 1px solid var(--active);
    overflow-y: auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background: var(--controlBg);
    margin-top: -1px;
    z-index: 1;
    max-height: 300px;

    .pinned-value-separator {
      border-bottom: var(--controlBorder);
    }
  }

  .dropdown-option {
    padding: 0.1em 0.5em;
    font-weight: 400;
    color: var(--controlText);

    &:hover,
    &.selected,
    &.hovered {
      background: var(--active);
    }
  }

  &.unfilterable .dropdown-input {
    cursor: default;
  }

  &.disabled .dropdown-clear {
    color: var(--disabledControlText);
  }
}
